.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
    width: calc(100% - 78px);
    left: 78px;
    //height: 100%;

   
}

.container b-card-group {
    left: 240px;
}

.container.active {
    width: calc(100% - 240px);
    left: 240px;
}